In [1]:
import numpy as np
import pandas as pd
from apyori import apriori

In [2]:
store_data = pd.read_excel('C:/Users/agusz/Documents/datamining-master/datamining-master/data.xls')

In [3]:
store_data.head()

  Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
0     Wine    Chips    Bread   Butter     Milk    Apple
1     Wine      NaN    Bread   Butter     Milk      NaN
2      NaN      NaN    Bread   Butter     Milk      NaN
3      NaN    Chips      NaN      NaN      NaN    Apple
4     Wine    Chips    Bread   Butter     Milk    Apple

In [4]:
store_data.shape

(22, 6)

In [5]:
records = []
for i in range(0, 22):
    records.append([str(store_data.values[i,j]) for j in range (0,6)])

In [17]:
association_rules = apriori(records, min_support = 0.15, min_confidence = 0.6, min_lift = 1.4, mint_lenght=3)
association_results = list(association_rules)

In [18]:
print(len(association_results))

5

In [19]:
print(association_results[0])

RelationRecord(items=frozenset({'Apple', 'Bread', 'Butter', 'Chips'}), support=0.3181818181818182, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Apple', 'Butter'}), items_add=frozenset({'Bread', 'Chips'}), confidence=0.6363636363636364, lift=1.4000000000000001), OrderedStatistic(items_base=frozenset({'Bread', 'Chips'}), items_add=frozenset({'Apple', 'Butter'}), confidence=0.7000000000000001, lift=1.4000000000000001)])

In [25]:
results =[]
for item in association_results:
    pair=item[0]
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]
    
    rows = (value0,value1,value2,value3,value4)
    results.append(rows)
    label = ['title1','title2','support','confidence','lift']
    store_suggestion = pd.DataFrame.from_records(results,columns=label)
    
    print(store_suggestion)

  title1 title2 support confidence    lift
0  Apple  Bread  0.3181     0.6363  1.4000
  title1  title2 support confidence    lift
0  Apple   Bread  0.3181     0.6363  1.4000
1  Bread  Butter  0.3181     0.7000  1.4000
  title1  title2 support confidence    lift
0  Apple   Bread  0.3181     0.6363  1.4000
1  Bread  Butter  0.3181     0.7000  1.4000
2  Chips   Apple  0.2272     0.8333  1.4102
  title1  title2 support confidence    lift
0  Apple   Bread  0.3181     0.6363  1.4000
1  Bread  Butter  0.3181     0.7000  1.4000
2  Chips   Apple  0.2272     0.8333  1.4102
3  Chips   Apple  0.2272     0.8333  1.4102
  title1  title2 support confidence    lift
0  Apple   Bread  0.3181     0.6363  1.4000
1  Bread  Butter  0.3181     0.7000  1.4000
2  Chips   Apple  0.2272     0.8333  1.4102
3  Chips   Apple  0.2272     0.8333  1.4102
4  Chips  Butter  0.2727     0.7499  1.4999

In [26]:
store_suggestion.describe()

       title1  title2 support confidence    lift
count       5       5       5          5       5
unique      3       3       3          4       3
top     Chips  Butter  0.3181     0.8333  1.4000
freq        3       2       2          2       2

In [27]:
store_suggestion.to_excel('C:/Users/agusz/Documents/datamining-master/datamining-master/dataAgus.xls')