In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
data = pd.read_excel('DataAgus.xlsx')

In [44]:
data.head()

       Day Discount Free Delivery Purchase
0  Weekday      Yes           Yes      Yes
1  Weekend       No            No       No
2  Weekday      Yes           Yes      Yes
3  Holiday      Yes            No      Yes
4  Weekday      Yes           Yes      Yes

In [45]:
data.shape

(39, 4)

In [46]:
data['Purchase'].value_counts()

Yes    23
No     16
Name: Purchase, dtype: int64

In [47]:
pYes = 23/39
pNo = 16/39

In [48]:
print(pYes)

0.5897435897435898

In [49]:
print(pNo)

0.41025641025641024

In [50]:
pd.crosstab(data['Day'], data['Purchase'])

Purchase  No  Yes
Day
Holiday    4    9
Weekday    7    6
Weekend    5    8

In [51]:
pHolidayNo = 4/16
pWeekdayNo = 7/16
pWeekendNo = 5/16

pHolidayYes = 9/23
pWeekdayYes = 6/23
pWeekendYes = 8/23

pHoliday = 16/39
pWeekday = 16/39
pWeekend = 16/39

print(pWeekdayYes)

0.2608695652173913

In [52]:
pNoWeekday = (pWeekdayNo*pNo)/pWeekday
print(pNoWeekday)

0.4375

In [53]:
pYesWeekday = (pWeekdayYes*pYes)/pWeekday
print(pYesWeekday)

0.37500000000000006

In [54]:
print(pNoWeekday)
print(pYesWeekday)

0.4375
0.37500000000000006

In [55]:

pd.crosstab(data['Discount'], data['Purchase'])

Purchase  No  Yes
Discount
No         2    5
Yes       14   18

In [62]:

pNoDiscountNo = 2/16
pYesDiscountNo = 14/16

pNoDiscountYes = 5/23
pYesDiscountYes = 18/23

pNoDiscount = 16/39
pYesDiscount = 23/39

print(pWeekdayYes)

0.2608695652173913

In [63]:
pd.crosstab(data['Free Delivery'], data['Purchase'])

Purchase       No  Yes
Free Delivery
No              2   11
Yes            14   12

In [64]:
pNoDeliveryNo = 2/16
pYesDeliveryNo = 14/16

pNoDeliveryYes = 11/23
pYesDeliveryYes = 12/23

pNoDelivery = 16/39
pYesDelivery = 23/39

In [65]:
pNoBuy1 = ((pHolidayNo*pYesDiscountNo*pYesDeliveryNo)*pNo)/(pHoliday*pYesDiscount*pYesDelivery)
print(pNoBuy1)

0.5503381970699432

In [66]:
pBuy2 = ((pHolidayYes*pYesDiscountYes*pYesDeliveryYes)*pYes)/(pHoliday*pYesDiscount*pYesDelivery)
print(pBuy2)

0.6603803588466307

In [67]:
pSum = pNoBuy1+pBuy2
print(pSum)

1.210718555916574

In [68]:
pBuy = (pBuy2/pSum) *100
print(pBuy)

54.544498027181056

In [69]:
pNoBuy = (pNoBuy1*pSum)*100
print(pNoBuy)

66.63046672222526